
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12">
    <section class="panel">
        <header class="panel-body">
            Advanced Table


            <a href="#myModal-1" data-toggle="modal" class="btn btn-xs btn-success float-md-left">
                Add Language
            </a>
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal-1" class="modal fade" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                            <h4 class="modal-title">Add Language Form</h4>
                        </div>
                        <div class="modal-body">

                            <form class="form-horizontal" role="form" method="post">
                                <div class="form-group">
                                    <label class="col-lg-2 col-sm-2 control-label">Name</label>
                                    <div class="col-lg-10">
                                        <input type="text" id="languageName" class="form-control" placeholder="Please enter a language name.">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 col-sm-2 control-label">Description</label>
                                    <div class="col-lg-10">
                                        <input type="text" id="description" class="form-control" placeholder="Please enter a description">
                                    </div>
                                </div>


                            </form>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button type="submit" class="btn btn-default" onclick="Add()">Add</button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal-2" class="modal fade" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                            <h4 class="modal-title">Add Language Form</h4>
                        </div>
                        <div class="modal-body">

                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="col-lg-2 col-sm-2 control-label">Name</label>
                                    <div class="col-lg-10">
                                        <input type="number" style="display:none" id="updateid" value="" />
                                        <input type="text" id="updateLanName" class="form-control" placeholder="Please enter a language name.">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 col-sm-2 control-label">Description</label>
                                    <div class="col-lg-10">
                                        <input type="text" id="updateLanDes" class="form-control" placeholder="Please enter a description">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button type="submit" onclick="UpdateLanguagePost()" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>

                        </div>


                    </div>
                </div>
            </div>

        </header>
        <table class="table table-striped table-advance table-hover" id="languageList">
        </table>
    </section>

</div>

@section scripts{

    <script>
        $(document).ready(function () {
            GetLanguageList()
        })

        function GetLanguageList() {
            $.ajax({
                type: "GET",
                url: "../../../admin/AdminAjax/GetAllLanguage",
                success: function (response) {
                    $("#languageList").html(response);
                }
            })
        }


        function Add() {

            var language = {
                LanguageName: $("#languageName").val(),
                Description: $("#description").val(),
                IsActive: true,
                LanguageID: 0
            };

            $.ajax({
                type: "get",
                url: "../../../admin/AdminAjax/AddLanguage?id=" + language.LanguageID + "&name=" + language.LanguageName + "&description=" + language.Description,                
                success: function (data) {
                    if (data.check == true) {
                        alertify.success(data.message)
                        GetLanguageList()
                    } else {
                        alertify.error(data.message)
                    }

                }
            })

        }


        function LanguageDelete(lanid) {
            var cvp = confirm("Dili silmek istediğinize emin misiniz ?")
            if (cvp) {
                $.ajax({
                    type: "GET",
                    url: "../../../admin/AdminAjax/DeleteLanguageById?id=" + lanid,
                    success: function (data) {
                        if (cvp) {

                            alertify.success(data.message)
                            GetLanguageList()

                        }
                    }
                });
            }
        }

        function UpdateLanguage(lanId, lanName, landes) {
            var name = lanName;
            var id = lanId;
            var des = landes;
            $("#updateid").val(id);
            $("#updateLanName").val(name);
            $("#updateLanDes").val(des);


        }

        function UpdateLanguagePost() {
            var language = new Object();
            language.LanguageID = $("#updateid").val();
            language.LanguageName = $("#updateLanName").val();
            language.Description = $("#updateLanDes").val();
            language.IsActive = true;
            console.log(language)
            $.ajax
                ({
                    url: "../../../admin/AdminAjax/UpdateLanguage?id=" + language.LanguageID + "&name=" + language.LanguageName + "&description=" + language.Description,
                    type: "GET",
                    success: function (response) {
                        if (response.check == true) {
                            alertify.success(response.message)
                            GetLanguageList()
                        }
                        else {
                            alertify.error(response.message)
                        }
                    }
                })
        }


    </script>


}