
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section heads{
    <link href="~/flatAdmin/assets/advanced-datatable/docs/media/css/demo_page.css" rel="stylesheet" />
    <link href="~/flatAdmin/assets/advanced-datatable/docs/media/css/demo_table.css" rel="stylesheet" />
}

<section class="panel">
    <header class="panel-heading">
        DataTables hidden row details example
        <a href="#myModal" data-toggle="modal" class="btn btn-xs btn-success float-left">
            Add Movie
        </a>
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h4 class="modal-title">Add Movie Form</h4>
                    </div>
                    <div class="modal-body">

                        <form role="form">
                            <div class="form-group">
                                <label>Movie Name</label>
                                <input type="text" class="form-control" @*id="exampleInputEmail3"*@ placeholder="Please enter a movie name.">

                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <input type="text" class="form-control" placeholder="Please enter a description">

                            </div>
                            <div class="form-group">
                                <label>Poster</label>
                                <input type="text" class="form-control" placeholder="Please enter a description">

                            </div>

                            <div class="form-group">
                                <label for="exampleInputFile">File input</label>
                                <div class="col-10">
                                    <input type="file">
                                </div>
                                <p class="help-block">Example block-level help text here.</p>
                            </div>

                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="panel-body">
        <div class="adv-table">
            @await Component.InvokeAsync("MovieTable")
        </div>
    </div>
</section>

@section scripts{
    <script src="~/flatAdmin/assets/advanced-datatable/docs/media/js/jquery.dataTables.js"></script>

    <script>
        /* Formating function for row details */
        function fnFormatDetails(oTable, nTr) {
            var aData = oTable.fnGetData(nTr);
            var sOut = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">';
            sOut += '<tr><td>Movie Name :</td><td>' + aData[1] + '</td></tr>';
            sOut += '<tr><td>Description :</td><td>' + aData[2] + '</td></tr>';
            sOut += '<tr><td>Extra info:</td><td>And any further details here (images etc)</td></tr>';
            sOut += '</table>';

            return sOut;
        }

        $(document).ready(function () {
            /*
             * Insert a 'details' column to the table
             */
            var nCloneTh = document.createElement('th');
            var nCloneTd = document.createElement('td');
            nCloneTd.innerHTML = '<img src="../flatAdmin/assets/advanced-datatable/examples/examples_support/details_open.png">';
            nCloneTd.className = "center";

            $('#hidden-table-info thead tr').each(function () {
                this.insertBefore(nCloneTh, this.childNodes[0]);
            });

            $('#hidden-table-info tbody tr').each(function () {
                this.insertBefore(nCloneTd.cloneNode(true), this.childNodes[0]);
            });

            /*
             * Initialse DataTables, with no sorting on the 'details' column
             */
            var oTable = $('#hidden-table-info').dataTable({
                "aoColumnDefs": [
                    { "bSortable": false, "aTargets": [0] }
                ],
                "aaSorting": [[1, 'asc']]
            });

            /* Add event listener for opening and closing details
             * Note that the indicator for showing which row is open is not controlled by DataTables,
             * rather it is done here
             */
            $('#hidden-table-info tbody td img').live('click', function () {
                var nTr = $(this).parents('tr')[0];
                if (oTable.fnIsOpen(nTr)) {
                    /* This row is already open - close it */
                    this.src = "../flatAdmin/assets/advanced-datatable/examples/examples_support/details_open.png";
                    oTable.fnClose(nTr);
                }
                else {
                    /* Open this row */
                    this.src = "../flatAdmin/assets/advanced-datatable/examples/examples_support/details_close.png";
                    oTable.fnOpen(nTr, fnFormatDetails(oTable, nTr), 'details');
                }
            });
        });
    </script>

}