@model List<GenreVM>

<ul class="categories">
    <li>
        <a style="cursor:pointer;" onclick="GetCategory(-1)">All</a>
    </li>
    @foreach (GenreVM item in Model)
    {
        <li>
            <a class="mouserPointer" onclick="GetCategory(@item.GenreId)">@item.Name</a>
        </li>
    }
</ul>