
@{
    ViewData["Title"] = "Podcast";
}

<header class="page-header single" data-background="images/movie-poster-bg2.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="video-player">
                    <a href="javascript:history.go(-1)" class="back-btn"><i class="lni lni-chevron-left"></i> BACK</a>
                    <iframe id="podcast" src="https://open.spotify.com/embed-podcast/show/5NjQS2V18f7MS3nfa7fdxd" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>                    
                </div>
                <!-- end video-player -->
            </div>
            <!-- end col-12 -->
        </div>
        <!-- end col-12 -->
        <!-- end row -->
    </div>
    <!-- end container -->
</header>

<main>
    <section class="content-section" data-background="#111111">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title light">
                        <h6>FIND ANYWHERE ELSE</h6>
                        <h2>Podcast</h2>
                    </div>
                    <!-- end section-title -->
                </div>
                <div class="row" id="podcastList"></div>  
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end content-section -->
</main>

@section scripts{
    <script>        
        function ChangeUrl(path) {
            if (path != 0) {
                $("#podcast").attr("src", path)
            }
        }

        $.ajax({
            type: "get",
            url: "../../../ajax/PodcastGetAll",
            success: function (response) {
                $("#podcastList").html(response)
            }
        })

        $.ajax({
            type: "get",
            url: "../../../ajax/GetPodcast",
            success: function (response) {
                $("#podcast").attr("src", response.bPath)
            }
        })
    </script>
}
