@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Bilal Kırkgül, Ahmet Fehmi Yavuz, Mert Yılmaz">
    <meta name="keyword" content="movie,fragman,trailer,naps,action,comedy,film,genre,category">
    <title>@ViewBag.Title</title>


    <!-- FAVICON FILES -->
    <link href="~/ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon" sizes="144x144">
    <link href="~/ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon" sizes="114x114">
    <link href="~/ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon" sizes="72x72">
    <link href="~/ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon">
    <link href="~/ico/favicon.png" rel="shortcut icon">

    <!-- CSS FILES -->
    <link href="~/css/css.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/ourStyle.css" rel="stylesheet" />

</head>
<body style="background-color:#27272B">
    <nav class="mobile-menu">
        <div class="inner">
            <div class="mobile-search">
                <h6>Type movie or tv show name to find it</h6>
                <form>
                    <input type="search" placeholder="Search here">
                    <input type="submit" value="FIND">
                </form>
            </div>
            <!-- end mobile-search -->
            <div id="mobileUserName"></div>

            <!-- end button-account -->
            <div class="site-menu">
                <ul>
                    <li class="btnmenu"><a asp-controller="Home" asp-action="Index">HOME</a></li>
                    <li class="btnmenu"><a asp-controller="Movie" asp-action="Movies">MOVIES</a></li>
                    <li class="btnmenu"><a asp-controller="live" asp-action="index">LIVE</a></li>
                    <li class="btnmenu"><a asp-controller="podcast" asp-action="index">PODCAST</a></li>
                    <li class="btnmenu"><a asp-controller="Movie" asp-action="SPL">SPL</a></li>
                    <li class="btnmenu"><a asp-controller="Movie" asp-action="DailyGif">DailyGif</a></li>
                </ul>
            </div>
            <!-- end site-menu -->
        </div>
        <!-- end inner -->
    </nav>
    <!-- end mobile-menu -->
    <nav class="navbar">
        <div class="logo"> <a asp-controller="Home" asp-action="Index"> <img src="~/images/logo.png" alt="Image"> </a> </div>
        <!-- end logo -->
        <div class="site-menu">
            <ul>
                <li><a class="btnmainmenu" asp-controller="Home" asp-action="Index">HOME</a></li>
                <li><a class="btnmainmenu" asp-controller="Movie" asp-action="Movies">MOVIES</a></li>
                <li><a class="btnmainmenu" asp-controller="live" asp-action="index">LIVE</a></li>
                <li><a class="btnmainmenu" asp-controller="podcast" asp-action="index">PODCAST</a></li>
                <li><a class="btnmainmenu" asp-controller="Movie" asp-action="SPL">SPL</a></li>
                <li><a class="btnmainmenu" asp-controller="Movie" asp-action="DailyGif">DailyGif</a></li>
            </ul>
        </div>
        <!-- end site-menu -->
        <div class="user-menu" style="border: 2px solid #e81c1c;border-radius:13px;padding:3px 25px 3px 25px;
    ">
            <div class="navbar-search"> <i class="lni lni-search-alt"></i> </div>
            <!-- end navbar-search -->
            <div class="navbar-notify" id="notify">
                <i class="lni lni-alarm"></i><b>2</b>
                <div class="notify-dropdown" id="notifyItem">
                    <div class="total-notify">
                        <h6>Notification</h6>
                        <span>3</span>
                    </div>
                    <!-- end total-notify -->
                    <ul>
                        <li>
                            <p><u>Marcus</u> download 2000+ Simple Line Icons and Explore</p>
                            <span>2 Days</span>
                        </li>
                        <li>
                            <p>Added new movie <u>Afterlife</u> Cheatsheet to Start Using With Your Projects.</p>
                            <span>3 Days</span>
                        </li>
                    </ul>
                </div>
                <!-- end notify-dropdown -->
            </div>
            <!-- end navbar-notify -->

            <div id="btnMyList">

            </div>
            @*<div class="navbar-account"> <a asp-controller="account" asp-action="register">Register</a>/<a asp-controller="account" asp-action="login">Login</a><i class="lni lni-user"></i></div>*@
            <div id="userName">

                <!--Login Name ve Logout gösterme işlemi bu alanda yapıldı-->
            </div>

            <!-- end navbar-account -->
        </div>
        <!-- end
            -->
        <div class="hamburger-menu">
            <button class="hamburger">
                <svg width="45" height="45" viewBox="0 0 100 100">
                    <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
                    <path class="line line2" d="M 20,50 H 80" />
                    <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
                </svg>
            </button>
        </div>
        <!-- end hamburger-menu -->
    </nav>
    <!-- end navbar -->
    <section class="search-box">
        <div class="container">
            <h6>Type movie or tv show name to find it</h6>
            <form>
                <input type="search" placeholder="Search here">
                <input type="submit" value="FIND">
            </form>
            <ul>
                <li><a href="#">Pulp Function</a></li>
                <li><a href="#">Henry Porter</a></li>
                <li><a href="#">The Racer</a></li>
            </ul>
        </div>
        <!-- end container -->
    </section>


    @RenderBody()


    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h5 class="call-us">Questions?</h5>
                    <p>
                        Format for custom post types that are not book
                        or you can use else if to <u>specify a second</u> post type the
                        same way as above.
                    </p>
                    <div class="language">
                        <!-- GTranslate -->
                        <a href="#" onclick="doGTranslate('en|en');return false;" title="English" class="gflag nturl" style="background-position:-0px -0px;"><img src="//gtranslate.net/flags/blank.png" height="24" width="24" alt="English" /></a><a href="#" onclick="doGTranslate('en|fr');return false;" title="French" class="gflag nturl" style="background-position:-200px -100px;"><img src="//gtranslate.net/flags/blank.png" height="24" width="24" alt="French" /></a><a href="#" onclick="doGTranslate('en|de');return false;" title="German" class="gflag nturl" style="background-position:-300px -100px;"><img src="//gtranslate.net/flags/blank.png" height="24" width="24" alt="German" /></a><a href="#" onclick="doGTranslate('en|it');return false;" title="Italian" class="gflag nturl" style="background-position:-600px -100px;"><img src="//gtranslate.net/flags/blank.png" height="24" width="24" alt="Italian" /></a><a href="#" onclick="doGTranslate('en|pt');return false;" title="Portuguese" class="gflag nturl" style="background-position:-300px -200px;"><img src="//gtranslate.net/flags/blank.png" height="24" width="24" alt="Portuguese" /></a><a href="#" onclick="doGTranslate('en|ru');return false;" title="Russian" class="gflag nturl" style="background-position:-500px -200px;"><img src="//gtranslate.net/flags/blank.png" height="24" width="24" alt="Russian" /></a><a href="#" onclick="doGTranslate('en|es');return false;" title="Spanish" class="gflag nturl" style="background-position:-600px -200px;"><img src="//gtranslate.net/flags/blank.png" height="24" width="24" alt="Spanish" /></a><a href="#" onclick="doGTranslate('en|tr');return false;" title="Turkish" class="gflag nturl" style="background-position:-100px -500px;"><img src="//gtranslate.net/flags/blank.png" height="24" width="24" alt="Turkish" /></a>

                        <style type="text/css">
                            <!--
                            a.gflag {
                                vertical-align: middle;
                                font-size: 24px;
                                padding: 1px 0;
                                background-repeat: no-repeat;
                                background-image: url(//gtranslate.net/flags/24.png);
                            }

                                a.gflag img {
                                    border: 0;
                                }

                                a.gflag:hover {
                                    background-image: url(//gtranslate.net/flags/24a.png);
                                }

                            #goog-gt-tt {
                                display: none !important;
                            }

                            .goog-te-banner-frame {
                                display: none !important;
                            }

                            .goog-te-menu-value:hover {
                                text-decoration: none !important;
                            }

                            body {
                                top: 0 !important;
                            }

                            #google_translate_element2 {
                                display: none !important;
                            }
                            -->
                        </style>

                        <div id="google_translate_element2"></div>
                        <script type="text/javascript">
                            function googleTranslateElementInit2() { new google.translate.TranslateElement({ pageLanguage: 'en', autoDisplay: false }, 'google_translate_element2'); }
                        </script>
                        <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit2"></script>


                        <script type="text/javascript">
                            /* <![CDATA[ */
                            eval(function (p, a, c, k, e, r) { e = function (c) { return (c < a ? '' : e(parseInt(c / a))) + ((c = c % a) > 35 ? String.fromCharCode(c + 29) : c.toString(36)) }; if (!''.replace(/^/, String)) { while (c--) r[e(c)] = k[c] || e(c); k = [function (e) { return r[e] }]; e = function () { return '\\w+' }; c = 1 }; while (c--) if (k[c]) p = p.replace(new RegExp('\\b' + e(c) + '\\b', 'g'), k[c]); return p }('6 7(a,b){n{4(2.9){3 c=2.9("o");c.p(b,f,f);a.q(c)}g{3 c=2.r();a.s(\'t\'+b,c)}}u(e){}}6 h(a){4(a.8)a=a.8;4(a==\'\')v;3 b=a.w(\'|\')[1];3 c;3 d=2.x(\'y\');z(3 i=0;i<d.5;i++)4(d[i].A==\'B-C-D\')c=d[i];4(2.j(\'k\')==E||2.j(\'k\').l.5==0||c.5==0||c.l.5==0){F(6(){h(a)},G)}g{c.8=b;7(c,\'m\');7(c,\'m\')}}', 43, 43, '||document|var|if|length|function|GTranslateFireEvent|value|createEvent||||||true|else|doGTranslate||getElementById|google_translate_element2|innerHTML|change|try|HTMLEvents|initEvent|dispatchEvent|createEventObject|fireEvent|on|catch|return|split|getElementsByTagName|select|for|className|goog|te|combo|null|setTimeout|500'.split('|'), 0, {}))
                            /* ]]> */
                        </script>

                    </div>
                    <!-- end language -->
                </div>
                <!-- end col-4 -->
                <div class="col-lg-2 offset-lg-1 col-md-4">
                    <h6 class="widget-title">NAPS</h6>
                    <ul class="footer-menu">
                        <li><a href="digiflex.html">Naps</a></li>
                        <li><a href="devices.html">Devices</a></li>
                        <li><a href="tips.html">Tips</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <!-- end col-4 -->
                <div class="col-lg-2 col-md-4">
                    <h6 class="widget-title">SUPPORT</h6>
                    <ul class="footer-menu">
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="help-center.html">Help Center</a></li>
                        <li><a href="account.html">Account</a></li>
                        <li><a href="support.html">Support <i class="lni lni-question-circle"></i></a></li>
                        <li><a href="media-center.html">Media Center</a></li>
                    </ul>
                </div>
                <!-- end col-4 -->
                <div class="col-lg-2 col-md-4">
                    <h6 class="widget-title">POLICIES</h6>
                    <ul class="footer-menu">
                        <li><a href="privacy-policy.html">Privacy Policy</a></li>
                        <li><a href="terms-agreement.html">Terms & Agreement</a></li>
                        <li><a href="legal-notices.html">Legal Notices</a></li>
                    </ul>
                </div>
                <!-- end col-4 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
        <div class="bottom-bar">
            <div class="container"> <span>© 2021 Naps | Streaming</span> <span>Site create by <a href="#">BAM</a></span> </div>
            <!-- end container -->
        </div>
        <!-- end bottom-bar -->
    </footer>
    <!-- end footer -->
    <!-- JS FILES -->
    <script src="~/js/js.min.js"></script>
    <script>

        $(document).ready(function () {
            $.ajax({
                type: "Get",
                url: "/Account/LoginName",
                success: function (data) {
                    $("#userName").html(data);
                }

            })
            $.ajax({
                type: "Get",
                url: "/Account/LoginNameMobile",
                success: function (data) {
                    $("#mobileUserName").html(data);
                }

            })
            GetBtnMyList("../../../mylist/getbtn")
        })
    </script>



    @RenderSection("scripts", false)

</body>
</html>
