@model List<FragmanVM>

@foreach (FragmanVM item in Model)
{
    <div class="swiper-slide">
        <div class="slide-inner" style="background:url(@item.Poster)">
            <div class="container" data-swiper-parallax="200">
                <h2 class="name">
                    @item.Name<span style="color:red">.</span>
                </h2>
                <ul class="features">
                    <li>
                        @await Component.InvokeAsync("Genre", item.FragID)
                    </li>
                </ul>
                <p class="description">
                    @item.Description
                </p>
                <a asp-controller="movie" asp-action="MovieSinglePage" asp-route-id="@item.FragID" class="btnmainwatch">FRAGMAN İZLE</a>
            </div>
            <!-- end container -->
        </div>
        <!-- end slide-inner -->
    </div>
    <!-- end swiper-slide -->
}
