@model List<GenreVM>

<div class="tags" style="font-weight:100;font-size: 27px; opacity: 0.5; color: white;">

    @foreach (GenreVM item in Model)
    {
        @item.Name <label>&nbsp;</label>
    }
</div>