/*@import url(https://fonts.googleapis.com/css?family=Merriweather:900);

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

html {
    height: 100%;
    overflow: hidden;
}

canvas {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-family: 'Merriweather', serif;
}

.container {
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: radial-gradient(ellipse at center, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0) 19%, hsla(0, 0%, 0%, 0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#00000000', endColorstr = '#e6000000', GradientType = 1);
}

    .container div {
        position: absolute;
        left: 0;
        top: -20%;
        width: 100%;
        height: 20%;
        background-color: hsla(0, 0%, 0%, .09);
        box-shadow: 0 0 10px hsla(0, 0%, 0%, .2);
        animation: waves 12s linear infinite;
    }

        .container div:nth-child(1) {
            animation-delay: 0;
        }

        .container div:nth-child(2) {
            animation-delay: 4s;
        }

        .container div:nth-child(3) {
            animation-delay: 8s;
        }

@keyframes waves {
    0% {
        top: -20%;
    }

    100% {
        top: 100%;
    }
}

h1 {
    z-index: 3;
    position: absolute;
    font: bold 20vw 'Merriweather', serif;
    left: 50%;
    top: 50%;
    margin-top: -10vh;
    width: 100%;
    margin-left: -50%;
    height: 20vw;
    text-align: center;
    color: transparent;
    text-shadow: 0 0 30px hsla(0, 0%, 0%, .5);
    animation: flicks .8s linear infinite;
}

h2 {
    z-index: 2;
    position: absolute;
    font: bold 5.5vw 'Merriweather', serif;
    left: 51%;
    top: 40%;
    width: 90%;
    margin-left: -45%;
    height: 50vw;
    text-align: center;
    color: transparent;
    text-shadow: 0 0 12px hsla(0, 0%, 0%, .5);
    animation: flicks 1.5s linear infinite;
}

span {
    font-size: 7.5vw;
    text-shadow: 0 0 24px hsla(0, 0%, 0%, 1);
    animation: spanflicks 1s linear infinite;
}

h3 {
    z-index: 2;
    position: absolute;
    font: bold 3vw 'Merriweather', serif;
    left: 51%;
    top: 30%;
    width: 90%;
    margin-left: -45%;
    height: 50vw;
    text-align: center;
    color: transparent;
    text-shadow: 0 0 12px hsla(0, 0%, 0%, .4);
    animation: flicks 1s linear infinite;
}


@keyframes flicks {
    0% {
        text-shadow: 0 0 30px hsla(0, 0%, 0%, .5);
    }

    33% {
        color: hsla(0,0%,0%,.4);
        text-shadow: 0 0 10px hsla(0, 0%, 0%, .4);
    }

    66% {
        color: transparent;
        text-shadow: 0 0 20px hsla(0, 0%, 0%, .2);
    }

    100% {
        color: hsla(0,0%,0%,.5);
        text-shadow: 0 0 40px hsla(0, 0%, 0%, .8);
    }
}

@keyframes spanflicks {
    0% {
        text-shadow: 0 0 30px hsla(0, 0%, 0%, .5);
    }

    33% {
        color: hsla(0,0%,0%,.4);
        text-shadow: 0 0 10px hsla(2, 95%, 15%, .5);
    }

    66% {
        color: transparent;
        text-shadow: 0 0 20px hsla(2, 95%, 15%, .2);
    }

    100% {
        color: hsla(0,0%,0%,.5);
        text-shadow: 0 0 40px hsla(2, 95%, 15%, .1);
    }
}
*/


@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans");

main {
    height: 100vh;
    width: 100vw;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Merriweather Sans", sans-serif;
}

    main #errorText {
        font-size: 22px;
        margin: 14px 0;
    }

    main #errorLink {
        font-size: 20px;
        padding: 12px;
        border: 1px solid;
        color: #000;
        background-color: transparent;
        text-decoration: none;
        transition: all 0.5s ease-in-out;
    }

        main #errorLink:hover, main #errorLink:active {
            color: #fff;
            background: #000;
        }

    main #g6219 {
        transform-origin: 85px 4px;
        -webkit-animation: an1 12s 0.5s infinite ease-out;
        animation: an1 12s 0.5s infinite ease-out;
    }

@-webkit-keyframes an1 {
    0% {
        transform: rotate(0);
    }

    5% {
        transform: rotate(3deg);
    }

    15% {
        transform: rotate(-2.5deg);
    }

    25% {
        transform: rotate(2deg);
    }

    35% {
        transform: rotate(-1.5deg);
    }

    45% {
        transform: rotate(1deg);
    }

    55% {
        transform: rotate(-1.5deg);
    }

    65% {
        transform: rotate(2deg);
    }

    75% {
        transform: rotate(-2deg);
    }

    85% {
        transform: rotate(2.5deg);
    }

    95% {
        transform: rotate(-3deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes an1 {
    0% {
        transform: rotate(0);
    }

    5% {
        transform: rotate(3deg);
    }

    15% {
        transform: rotate(-2.5deg);
    }

    25% {
        transform: rotate(2deg);
    }

    35% {
        transform: rotate(-1.5deg);
    }

    45% {
        transform: rotate(1deg);
    }

    55% {
        transform: rotate(-1.5deg);
    }

    65% {
        transform: rotate(2deg);
    }

    75% {
        transform: rotate(-2deg);
    }

    85% {
        transform: rotate(2.5deg);
    }

    95% {
        transform: rotate(-3deg);
    }

    100% {
        transform: rotate(0);
    }
}