
@{
    ViewData["Title"] = "Index";
}

<header class="page-header single" data-background="images/movie-poster-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="video-player">
                    <a href="javascript:history.go(-1)" class="back-btn"><i class="lni lni-chevron-left"></i> BACK</a>
                    @*<video src="videos/video02.mp4" poster="images/movie-poster.jpg" controls playsinline></video>*@
                    <iframe id="liveVideo" style="width:100%;height:35vw" src="https://www.youtube.com/embed/IXr0zeTh8Jc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <!-- end video-player -->
            </div>
            <!-- end col-12 -->
        </div>
        <!-- end col-12 -->
        <!-- end row -->
    </div>
    <!-- end container -->
</header>

<main>
    <section class="content-section" data-background="#111111">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title light">
                        <h6>FIND ANYWHERE ELSE</h6>
                        <h2>Related Movies</h2>
                    </div>
                    <!-- end section-title -->
                </div>
                <!-- end col-12 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb light">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies07.jpg" alt="Image"></a>
                        </figure>
                        <div class="video-content">
                            <h3 class="name"><a class="mouserPointer" onclick="ChangeUrl('https://www.youtube.com/embed/IXr0zeTh8Jc')">M. Başakşehir - Fenerbahçe</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb light">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies08.jpg" alt="Image"></a>
                            
                        </figure>
                        <div class="video-content">
                            <h3 class="name"><a class="mouserPointer" onclick="ChangeUrl('https://www.youtube.com/embed/_H0zgHH3yu8')">Güldür Güldür Show</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb light">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies09.jpg" alt="Image"></a>
                        </figure>
                        <div class="video-content">
                            <h3 class="name"><a class="mouserPointer" onclick="ChangeUrl('https://www.youtube.com/embed/vb0XtSuKmrg')">TJK TV</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb light">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies10.jpg" alt="Image"></a>
                        </figure>
                        <div class="video-content">
                            <h3 class="name"><a class="mouserPointer" onclick="ChangeUrl('https://www.youtube.com/embed/Ck_hFpa6iK8')">LIVE FROM MONZA</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb light">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies11.jpg" alt="Image"></a>
                        </figure>
                        <div class="video-content">
                            <h3 class="name"><a class="mouserPointer" onclick="ChangeUrl('https://www.youtube.com/embed/eFWo1aJkMLc')">Nightcore Radio • 24/7 Music Live Stream ♡</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb light">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies12.jpg" alt="Image"></a>
                        </figure>
                        <div class="video-content">
                            <h3 class="name"><a class="mouserPointer" onclick="ChangeUrl('https://www.youtube.com/embed/owYRoIC1tbw')">2021 Hearthstone Grandmasters Europe</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end content-section -->
</main>

@section scripts{
    <script>
        $(document).ready(function () {
            GetBtnMyList("../../mylist/getbtn")
        })

        function ChangeUrl(path) {
            if (path != 0) {
                $("#liveVideo").attr("src", path)
            }
        }
    </script>
}