
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<body class="login-body">
    <div class="container">
        <form class="form-signin" action="index.html">
            <h2 class="form-signin-heading">CANLI YAYIN</h2>
            <div class="login-wrap">
                <p>Youtube Canlı Yayın Linkinizi Buraya Girin</p>
                <input type="text" class="form-control" placeholder="Link" autofocus>
                <div class="radios">
                </div>
                <button class="btn btn-lg btn-login btn-block" type="submit">Submit</button>
                <div class="registration">
                </div>
            </div>
        </form>
    </div>
</body>
<br />
<br />


