
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<header class="slider">
    <div class="main-slider">
        <div class="swiper-wrapper" id="thirdMovie">
            <!--Son üç fragman gelecek-->

        </div>
        <!-- end swiper-wrapper -->
        <div class="swiper-pagination"></div>
        <!-- end swiper-pagination -->
    </div>
    <!-- end main-slider -->
</header>

