@model RatingVM

<strong>@Model.CounterLike</strong><a class="mouserPointer" onclick="Like('u')"><i class="lni lni-thumbs-up"></i></a>
<strong>@Model.CounterDislike</strong><a class="mouserPointer" onclick="Like('d')"><i class="lni lni-thumbs-down"></i></a> 
<strong>@Model.Ratio % liked this film</strong>

<div class="btn-group btngroupemoji">
    <button id="emj" class="btn emoji" >&#128512;<sub>0</sub></button>
    <button class="btn emoji" >&#128514;<sub>0</sub></button>
    <button class="btn emoji" >&#128546;<sub>0</sub></button>
    <button class="btn emoji" >&#128525;<sub>0</sub></button>
    <button class="btn emoji" >&#129314;<sub>0</sub></button>
    <button class="btn emoji" >&#128561;<sub>0</sub></button>
    <button class="btn emoji" >&#128545;<sub>0</sub></button>
</div>

