@model RatingVM

<strong>@Model.CounterLike</strong><a class="mouserPointer" onclick="Like('u')"><i class="lni lni-thumbs-up"></i></a><strong>@Model.CounterDislike</strong><a class="mouserPointer" onclick="Like('d')"><i class="lni lni-thumbs-down"></i></a> <strong>@Model.Ratio % liked this film</strong>