
@{
    ViewData["Title"] = "Movies";
}

<header class="page-header">
    <div class="container">
        <h1>Movies</h1>
    </div>
</header>
<!-- end page-header -->
<main>
    <div class="container" style=" margin-top: 10px; width: 100vw">
        <div class="row">
            <div class="col-lg-8" id="categoryPanel">
                @await Component.InvokeAsync("MovieIndex")
            </div>
            <!-- end content-section -->
            <div class="col-lg-2 position-sticky" style="float:right">
                <aside class="sidebar position-sticky sticky-top">
                    <!-- end widget -->
                    <div class="widget">
                        <h6 class="widget-title">CATEGORIES</h6>

                        @await Component.InvokeAsync("Categories")

                    </div>
                    <!-- end widget -->
                    
                </aside>
                <!-- end sidebar -->
            </div>
            <div class="col-lg-2 position-sticky" style="float:right">
                <aside class="sidebar position-sticky sticky-top">
                    <div class="widget">
                        <h6 class="widget-title">ALT KATEGORİLER</h6>
                        <ul class="categories">
                            <li><a class="mouserPointer">Orjinal Yapımlar</a></li>
                            <li><a class="mouserPointer">Biz'den Haberler</a></li>
                            <li><a class="mouserPointer">Şahane Kısalar</a></li>
                            <li><a class="mouserPointer">İlham Veren Diziler</a></li>
                            <li><a class="mouserPointer">Bizim Belgeselciler</a></li>
                            <li><a class="mouserPointer">Biz'den Hikayeler</a></li>
                            <li><a class="mouserPointer">Canlı Yayınlar</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
                <!-- end col-4 -->
            </div>
        </div>
    


</main>

@section scripts{
    <script>
        $(document).ready(function () {
            GetFragmanListAll()            
        })

    </script>
}