
@{
    ViewData["Title"] = "Movies";
}

<header class="page-header">
    <div class="container">
        <h1>Movies</h1>
    </div>
</header>
<!-- end page-header -->
<main>
    <section class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h6>FIND ANYWHERE ELSE</h6>
                        <h2>Movies For You</h2>
                    </div>
                    <!-- end section-title -->
                </div>
                <!-- end col-12 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies01.jpg" alt="Image"></a>
                            <div class="circle-rate">
                                <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                                </svg>
                                <b>5.7</b>
                            </div>
                            <!-- end circle-rate -->
                            <div class="hd">1080 <b>HD</b></div>
                            <!-- end hd -->
                        </figure>
                        <div class="video-content">
                            <small class="range">190 min,</small>
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <div class="age">PG13</div>
                            <!-- end age -->
                            <h3 class="name"><a href="/movie/moviesinglepage">Black Panther</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies02.jpg" alt="Image"></a>
                            <div class="circle-rate">
                                <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                                </svg>
                                <b>5.7</b>
                            </div>
                            <!-- end circle-rate -->
                            <div class="hd">1080 <b>HD</b></div>
                            <!-- end hd -->
                        </figure>
                        <div class="video-content">
                            <small class="range">190 min,</small>
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <div class="age">PG13</div>
                            <!-- end age -->
                            <h3 class="name"><a href="/movie/moviesinglepage">Ce Of Entro</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies03.jpg" alt="Image"></a>
                            <div class="circle-rate">
                                <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                                </svg>
                                <b>5.7</b>
                            </div>
                            <!-- end circle-rate -->
                            <div class="hd">1080 <b>HD</b></div>
                            <!-- end hd -->
                        </figure>
                        <div class="video-content">
                            <small class="range">190 min,</small>
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <div class="age">PG13</div>
                            <!-- end age -->
                            <h3 class="name"><a href="/movie/moviesinglepage">Coming Soon</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies04.jpg" alt="Image"></a>
                            <div class="circle-rate">
                                <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                                </svg>
                                <b>5.7</b>
                            </div>
                            <!-- end circle-rate -->
                            <div class="hd">1080 <b>HD</b></div>
                            <!-- end hd -->
                        </figure>
                        <div class="video-content">
                            <small class="range">190 min,</small>
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <div class="age">PG13</div>
                            <!-- end age -->
                            <h3 class="name"><a href="/movie/moviesinglepage">Handmaiden</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies05.jpg" alt="Image"></a>
                            <div class="circle-rate">
                                <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                                </svg>
                                <b>5.7</b>
                            </div>
                            <!-- end circle-rate -->
                            <div class="hd">1080 <b>HD</b></div>
                            <!-- end hd -->
                        </figure>
                        <div class="video-content">
                            <small class="range">190 min,</small>
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <div class="age">PG13</div>
                            <!-- end age -->
                            <h3 class="name"><a href="/movie/moviesinglepage">The Silence of The Lamps</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies06.jpg" alt="Image"></a>
                            <div class="circle-rate">
                                <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                                </svg>
                                <b>5.7</b>
                            </div>
                            <!-- end circle-rate -->
                            <div class="hd">1080 <b>HD</b></div>
                            <!-- end hd -->
                        </figure>
                        <div class="video-content">
                            <small class="range">190 min,</small>
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <div class="age">PG13</div>
                            <!-- end age -->
                            <h3 class="name"><a href="/movie/moviesinglepage">Monospaced</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies07.jpg" alt="Image"></a>
                            <div class="circle-rate">
                                <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                                </svg>
                                <b>5.7</b>
                            </div>
                            <!-- end circle-rate -->
                            <div class="hd">1080 <b>HD</b></div>
                            <!-- end hd -->
                        </figure>
                        <div class="video-content">
                            <small class="range">190 min,</small>
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <div class="age">PG13</div>
                            <!-- end age -->
                            <h3 class="name"><a href="/movie/moviesinglepage">Secret Michael's Staff</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies08.jpg" alt="Image"></a>
                            <div class="circle-rate">
                                <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                                </svg>
                                <b>5.7</b>
                            </div>
                            <!-- end circle-rate -->
                            <div class="hd">1080 <b>HD</b></div>
                            <!-- end hd -->
                        </figure>
                        <div class="video-content">
                            <small class="range">190 min,</small>
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <div class="age">PG13</div>
                            <!-- end age -->
                            <h3 class="name"><a href="/movie/moviesinglepage">Trolls: World Tour</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies09.jpg" alt="Image"></a>
                            <div class="circle-rate">
                                <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                                </svg>
                                <b>5.7</b>
                            </div>
                            <!-- end circle-rate -->
                            <div class="hd">1080 <b>HD</b></div>
                            <!-- end hd -->
                        </figure>
                        <div class="video-content">
                            <small class="range">190 min,</small>
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <div class="age">PG13</div>
                            <!-- end age -->
                            <h3 class="name"><a href="/movie/moviesinglepage">Thrill Crazy</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies10.jpg" alt="Image"></a>
                            <div class="circle-rate">
                                <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                                </svg>
                                <b>5.7</b>
                            </div>
                            <!-- end circle-rate -->
                            <div class="hd">1080 <b>HD</b></div>
                            <!-- end hd -->
                        </figure>
                        <div class="video-content">
                            <small class="range">190 min,</small>
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <div class="age">PG13</div>
                            <!-- end age -->
                            <h3 class="name"><a href="/movie/moviesinglepage">Not Out</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies11.jpg" alt="Image"></a>
                            <div class="circle-rate">
                                <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                                </svg>
                                <b>5.7</b>
                            </div>
                            <!-- end circle-rate -->
                            <div class="hd">1080 <b>HD</b></div>
                            <!-- end hd -->
                        </figure>
                        <div class="video-content">
                            <small class="range">190 min,</small>
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <div class="age">PG13</div>
                            <!-- end age -->
                            <h3 class="name"><a href="/movie/moviesinglepage">World of War</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies12.jpg" alt="Image"></a>
                            <div class="circle-rate">
                                <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                                </svg>
                                <b>5.7</b>
                            </div>
                            <!-- end circle-rate -->
                            <div class="hd">1080 <b>HD</b></div>
                            <!-- end hd -->
                        </figure>
                        <div class="video-content">
                            <small class="range">190 min,</small>
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <div class="age">PG13</div>
                            <!-- end age -->
                            <h3 class="name"><a href="/movie/moviesinglepage">Love Everywhere</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
            </div>
        </div>
        <!-- end container -->
    </section>
    <!-- end content-section -->
    <section class="content-section" data-background="#f9f5f7">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h6>FIND ANYWHERE ELSE</h6>
                        <h2>Movies For You</h2>
                    </div>
                    <!-- end section-title -->
                </div>
                <!-- end col-12 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies01.jpg" alt="Image"></a>
                            <div class="circle-rate">
                                <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                                </svg>
                                <b>5.7</b>
                            </div>
                            <!-- end circle-rate -->
                            <div class="hd">1080 <b>HD</b></div>
                            <!-- end hd -->
                        </figure>
                        <div class="video-content">
                            <small class="range">190 min,</small>
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <div class="age">PG13</div>
                            <!-- end age -->
                            <h3 class="name"><a href="/movie/moviesinglepage">Black Panther</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies02.jpg" alt="Image"></a>
                            <div class="circle-rate">
                                <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                                </svg>
                                <b>5.7</b>
                            </div>
                            <!-- end circle-rate -->
                            <div class="hd">1080 <b>HD</b></div>
                            <!-- end hd -->
                        </figure>
                        <div class="video-content">
                            <small class="range">190 min,</small>
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <div class="age">PG13</div>
                            <!-- end age -->
                            <h3 class="name"><a href="/movie/moviesinglepage">Ce Of Entro</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies03.jpg" alt="Image"></a>
                            <div class="circle-rate">
                                <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                                </svg>
                                <b>5.7</b>
                            </div>
                            <!-- end circle-rate -->
                            <div class="hd">1080 <b>HD</b></div>
                            <!-- end hd -->
                        </figure>
                        <div class="video-content">
                            <small class="range">190 min,</small>
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <div class="age">PG13</div>
                            <!-- end age -->
                            <h3 class="name"><a href="/movie/moviesinglepage">Coming Soon</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies04.jpg" alt="Image"></a>
                            <div class="circle-rate">
                                <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                                </svg>
                                <b>5.7</b>
                            </div>
                            <!-- end circle-rate -->
                            <div class="hd">1080 <b>HD</b></div>
                            <!-- end hd -->
                        </figure>
                        <div class="video-content">
                            <small class="range">190 min,</small>
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <div class="age">PG13</div>
                            <!-- end age -->
                            <h3 class="name"><a href="/movie/moviesinglepage">Handmaiden</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies05.jpg" alt="Image"></a>
                            <div class="circle-rate">
                                <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                                </svg>
                                <b>5.7</b>
                            </div>
                            <!-- end circle-rate -->
                            <div class="hd">1080 <b>HD</b></div>
                            <!-- end hd -->
                        </figure>
                        <div class="video-content">
                            <small class="range">190 min,</small>
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <div class="age">PG13</div>
                            <!-- end age -->
                            <h3 class="name"><a href="/movie/moviesinglepage">The Silence of The Lamps</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies06.jpg" alt="Image"></a>
                            <div class="circle-rate">
                                <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                                </svg>
                                <b>5.7</b>
                            </div>
                            <!-- end circle-rate -->
                            <div class="hd">1080 <b>HD</b></div>
                            <!-- end hd -->
                        </figure>
                        <div class="video-content">
                            <small class="range">190 min,</small>
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <div class="age">PG13</div>
                            <!-- end age -->
                            <h3 class="name"><a href="/movie/moviesinglepage">Monospaced</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies07.jpg" alt="Image"></a>
                            <div class="circle-rate">
                                <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                                </svg>
                                <b>5.7</b>
                            </div>
                            <!-- end circle-rate -->
                            <div class="hd">1080 <b>HD</b></div>
                            <!-- end hd -->
                        </figure>
                        <div class="video-content">
                            <small class="range">190 min,</small>
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <div class="age">PG13</div>
                            <!-- end age -->
                            <h3 class="name"><a href="/movie/moviesinglepage">Secret Michael's Staff</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies08.jpg" alt="Image"></a>
                            <div class="circle-rate">
                                <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                                </svg>
                                <b>5.7</b>
                            </div>
                            <!-- end circle-rate -->
                            <div class="hd">1080 <b>HD</b></div>
                            <!-- end hd -->
                        </figure>
                        <div class="video-content">
                            <small class="range">190 min,</small>
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <div class="age">PG13</div>
                            <!-- end age -->
                            <h3 class="name"><a href="/movie/moviesinglepage">Trolls: World Tour</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies09.jpg" alt="Image"></a>
                            <div class="circle-rate">
                                <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                                </svg>
                                <b>5.7</b>
                            </div>
                            <!-- end circle-rate -->
                            <div class="hd">1080 <b>HD</b></div>
                            <!-- end hd -->
                        </figure>
                        <div class="video-content">
                            <small class="range">190 min,</small>
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <div class="age">PG13</div>
                            <!-- end age -->
                            <h3 class="name"><a href="/movie/moviesinglepage">Thrill Crazy</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies10.jpg" alt="Image"></a>
                            <div class="circle-rate">
                                <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                                </svg>
                                <b>5.7</b>
                            </div>
                            <!-- end circle-rate -->
                            <div class="hd">1080 <b>HD</b></div>
                            <!-- end hd -->
                        </figure>
                        <div class="video-content">
                            <small class="range">190 min,</small>
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <div class="age">PG13</div>
                            <!-- end age -->
                            <h3 class="name"><a href="/movie/moviesinglepage">Not Out</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies11.jpg" alt="Image"></a>
                            <div class="circle-rate">
                                <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                                </svg>
                                <b>5.7</b>
                            </div>
                            <!-- end circle-rate -->
                            <div class="hd">1080 <b>HD</b></div>
                            <!-- end hd -->
                        </figure>
                        <div class="video-content">
                            <small class="range">190 min,</small>
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <div class="age">PG13</div>
                            <!-- end age -->
                            <h3 class="name"><a href="/movie/moviesinglepage">World of War</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies12.jpg" alt="Image"></a>
                            <div class="circle-rate">
                                <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                                </svg>
                                <b>5.7</b>
                            </div>
                            <!-- end circle-rate -->
                            <div class="hd">1080 <b>HD</b></div>
                            <!-- end hd -->
                        </figure>
                        <div class="video-content">
                            <small class="range">190 min,</small>
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <div class="age">PG13</div>
                            <!-- end age -->
                            <h3 class="name"><a href="/movie/moviesinglepage">Love Everywhere</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
            </div>
        </div>
        <!-- end container -->
    </section>
    <!-- end content-section -->
    <section class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h6>FIND ANYWHERE ELSE</h6>
                        <h2>Movies For You</h2>
                    </div>
                    <!-- end section-title -->
                </div>
                <!-- end col-12 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies01.jpg" alt="Image"></a>
                            <div class="circle-rate">
                                <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                                </svg>
                                <b>5.7</b>
                            </div>
                            <!-- end circle-rate -->
                            <div class="hd">1080 <b>HD</b></div>
                            <!-- end hd -->
                        </figure>
                        <div class="video-content">
                            <small class="range">190 min,</small>
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <div class="age">PG13</div>
                            <!-- end age -->
                            <h3 class="name"><a href="/movie/moviesinglepage">Black Panther</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies02.jpg" alt="Image"></a>
                            <div class="circle-rate">
                                <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                                </svg>
                                <b>5.7</b>
                            </div>
                            <!-- end circle-rate -->
                            <div class="hd">1080 <b>HD</b></div>
                            <!-- end hd -->
                        </figure>
                        <div class="video-content">
                            <small class="range">190 min,</small>
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <div class="age">PG13</div>
                            <!-- end age -->
                            <h3 class="name"><a href="/movie/moviesinglepage">Ce Of Entro</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies03.jpg" alt="Image"></a>
                            <div class="circle-rate">
                                <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                                </svg>
                                <b>5.7</b>
                            </div>
                            <!-- end circle-rate -->
                            <div class="hd">1080 <b>HD</b></div>
                            <!-- end hd -->
                        </figure>
                        <div class="video-content">
                            <small class="range">190 min,</small>
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <div class="age">PG13</div>
                            <!-- end age -->
                            <h3 class="name"><a href="/movie/moviesinglepage">Coming Soon</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies04.jpg" alt="Image"></a>
                            <div class="circle-rate">
                                <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                                </svg>
                                <b>5.7</b>
                            </div>
                            <!-- end circle-rate -->
                            <div class="hd">1080 <b>HD</b></div>
                            <!-- end hd -->
                        </figure>
                        <div class="video-content">
                            <small class="range">190 min,</small>
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <div class="age">PG13</div>
                            <!-- end age -->
                            <h3 class="name"><a href="/movie/moviesinglepage">Handmaiden</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies05.jpg" alt="Image"></a>
                            <div class="circle-rate">
                                <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                                </svg>
                                <b>5.7</b>
                            </div>
                            <!-- end circle-rate -->
                            <div class="hd">1080 <b>HD</b></div>
                            <!-- end hd -->
                        </figure>
                        <div class="video-content">
                            <small class="range">190 min,</small>
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <div class="age">PG13</div>
                            <!-- end age -->
                            <h3 class="name"><a href="/movie/moviesinglepage">The Silence of The Lamps</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies06.jpg" alt="Image"></a>
                            <div class="circle-rate">
                                <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                                </svg>
                                <b>5.7</b>
                            </div>
                            <!-- end circle-rate -->
                            <div class="hd">1080 <b>HD</b></div>
                            <!-- end hd -->
                        </figure>
                        <div class="video-content">
                            <small class="range">190 min,</small>
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <div class="age">PG13</div>
                            <!-- end age -->
                            <h3 class="name"><a href="/movie/moviesinglepage">Monospaced</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies07.jpg" alt="Image"></a>
                            <div class="circle-rate">
                                <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                                </svg>
                                <b>5.7</b>
                            </div>
                            <!-- end circle-rate -->
                            <div class="hd">1080 <b>HD</b></div>
                            <!-- end hd -->
                        </figure>
                        <div class="video-content">
                            <small class="range">190 min,</small>
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <div class="age">PG13</div>
                            <!-- end age -->
                            <h3 class="name"><a href="/movie/moviesinglepage">Secret Michael's Staff</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies08.jpg" alt="Image"></a>
                            <div class="circle-rate">
                                <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                                </svg>
                                <b>5.7</b>
                            </div>
                            <!-- end circle-rate -->
                            <div class="hd">1080 <b>HD</b></div>
                            <!-- end hd -->
                        </figure>
                        <div class="video-content">
                            <small class="range">190 min,</small>
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <div class="age">PG13</div>
                            <!-- end age -->
                            <h3 class="name"><a href="/movie/moviesinglepage">Trolls: World Tour</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies09.jpg" alt="Image"></a>
                            <div class="circle-rate">
                                <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                                </svg>
                                <b>5.7</b>
                            </div>
                            <!-- end circle-rate -->
                            <div class="hd">1080 <b>HD</b></div>
                            <!-- end hd -->
                        </figure>
                        <div class="video-content">
                            <small class="range">190 min,</small>
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <div class="age">PG13</div>
                            <!-- end age -->
                            <h3 class="name"><a href="/movie/moviesinglepage">Thrill Crazy</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies10.jpg" alt="Image"></a>
                            <div class="circle-rate">
                                <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                                </svg>
                                <b>5.7</b>
                            </div>
                            <!-- end circle-rate -->
                            <div class="hd">1080 <b>HD</b></div>
                            <!-- end hd -->
                        </figure>
                        <div class="video-content">
                            <small class="range">190 min,</small>
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <div class="age">PG13</div>
                            <!-- end age -->
                            <h3 class="name"><a href="/movie/moviesinglepage">Not Out</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies11.jpg" alt="Image"></a>
                            <div class="circle-rate">
                                <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                                </svg>
                                <b>5.7</b>
                            </div>
                            <!-- end circle-rate -->
                            <div class="hd">1080 <b>HD</b></div>
                            <!-- end hd -->
                        </figure>
                        <div class="video-content">
                            <small class="range">190 min,</small>
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <div class="age">PG13</div>
                            <!-- end age -->
                            <h3 class="name"><a href="/movie/moviesinglepage">World of War</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="video-thumb">
                        <figure class="video-image">
                            <a href="#"><img src="~/images/movies12.jpg" alt="Image"></a>
                            <div class="circle-rate">
                                <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                                    <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                                </svg>
                                <b>5.7</b>
                            </div>
                            <!-- end circle-rate -->
                            <div class="hd">1080 <b>HD</b></div>
                            <!-- end hd -->
                        </figure>
                        <div class="video-content">
                            <small class="range">190 min,</small>
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <div class="age">PG13</div>
                            <!-- end age -->
                            <h3 class="name"><a href="/movie/moviesinglepage">Love Everywhere</a></h3>
                        </div>
                        <!-- end video-content -->
                    </div>
                    <!-- end video-thumb -->
                </div>
                <!-- end col-2 -->
            </div>
        </div>
        <!-- end container -->
    </section>
    <!-- end content-section -->

</main>