
@{
    ViewData["Title"] = "Movies";
}

<header class="page-header">
    <div class="container">
        <h1>Movies</h1>
    </div>
</header>
<!-- end page-header -->
<main>
    <div class="row">
        <div class="col-lg-8">
            <section class="content-section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title">
                                <h6>FIND ANYWHERE ELSE</h6>
                                <h2>Movies For You</h2>
                            </div>
                            <!-- end section-title -->
                        </div>
                        <div class="row col-12 m-2" id="singleFragman">

                        </div>
                        <!-- end col-12 -->

                    </div>
                </div>
                <!-- end container -->
            </section>
        </div>
        <!-- end content-section -->
        <div class="col-lg-4">
            <aside class="sidebar">
                <div class="widget">
                    <h6 class="widget-title">SEARCH</h6>
                    <form>
                        <input type="search" placeholder="Type here to search" onkeyup="GetFragmanByName(this.value)">
                    </form>
                </div>
                <!-- end widget -->
                <div class="widget">
                    <h6 class="widget-title">CATEGORIES</h6>

                    @await Component.InvokeAsync("Categories")

                </div>
                <!-- end widget -->
            </aside>
            <!-- end sidebar -->
        </div>
        <!-- end col-4 -->
    </div>


</main>

@section scripts{
    <script>
        $(document).ready(function () {
            GetFragmanListAll("GetMovieList")
        })

    </script>
}