
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="panel">
    <header class="panel-body">
        DataTables hidden row details example
        <a href="#myModal" data-toggle="modal" class="btn btn-xs btn-success float-left">
            Add User
        </a>
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h4 class="modal-title">Add User Form</h4>
                    </div>
                    <div class="modal-body">

                        <form role="form">
                            <div class="form-group">
                                <label>User Name</label>
                                <input type="text" class="form-control"  placeholder="Please enter a movie name.">

                            </div>
                            <div class="form-group">
                                <label>Firs Name</label>
                                <input type="text" class="form-control"  placeholder="Please enter a first name.">

                            </div>
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control"  placeholder="Please enter a last name.">

                            </div>
                            <div class="form-group">
                                <label>BirthDate</label>
                                <input type="date" class="form-control"  placeholder="Please enter a birth date.">

                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control"  placeholder="Please enter a email.">

                            </div>
                            <div class="form-group">
                                <label>Phone Number</label>
                                <input type="text" class="form-control"  placeholder="Please enter a phone numbers.">

                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="text" class="form-control" @*id="exampleInputEmail3"*@ placeholder="Please enter a movie name.">

                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="panel-body">
        <div class="adv-table">
            <div id="hidden-table-info_wrapper" class="dataTables_wrapper" role="grid">
                <div id="hidden-table-info_length" class="dataTables_length"><label>Show <select class="form-control" size="1" name="hidden-table-info_length" aria-controls="hidden-table-info"><option value="10" selected="selected">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div><div class="dataTables_filter" id="hidden-table-info_filter"><label>Search: <input type="text" class="form-control" aria-controls="hidden-table-info"></label></div><table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered dataTable" id="hidden-table-info" aria-describedby="hidden-table-info_info">
                    <thead>
                        <tr role="row"><th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 26px;"></th><th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="hidden-table-info" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 282px;">Rendering engine</th><th class="sorting" role="columnheader" tabindex="0" aria-controls="hidden-table-info" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 406px;">Browser</th><th class="hidden-phone sorting" role="columnheader" tabindex="0" aria-controls="hidden-table-info" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 376px;">Platform(s)</th><th class="hidden-phone sorting" role="columnheader" tabindex="0" aria-controls="hidden-table-info" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 246px;">Engine version</th><th class="hidden-phone sorting" role="columnheader" tabindex="0" aria-controls="hidden-table-info" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 181px;">CSS grade</th></tr>
                    </thead>

                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                        <tr class="gradeA odd">
                            <td class="center "><img src="~/flatAdmin/assets/advanced-datatable/examples/examples_support/details_open.png"></td>
                            <td class="  sorting_1">Gecko</td>
                            <td class=" ">Firefox 1.0</td>
                            <td class="hidden-phone ">Win 98+ / OSX.2+</td>
                            <td class="center hidden-phone ">1.7</td>
                            <td class="center hidden-phone ">A</td>
                        </tr>
                        <tr class="gradeA even">
                            <td class="center "><img src="~/flatAdmin/assets/advanced-datatable/examples/examples_support/details_open.png"></td>
                            <td class="  sorting_1">Gecko</td>
                            <td class=" ">Firefox 1.5</td>
                            <td class="hidden-phone ">Win 98+ / OSX.2+</td>
                            <td class="center hidden-phone ">1.8</td>
                            <td class="center hidden-phone ">A</td>
                        </tr>
                        <tr class="gradeA odd">
                            <td class="center "><img src="~/flatAdmin/assets/advanced-datatable/examples/examples_support/details_open.png"></td>
                            <td class="  sorting_1">Gecko</td>
                            <td class=" ">Firefox 2.0</td>
                            <td class="hidden-phone ">Win 98+ / OSX.2+</td>
                            <td class="center hidden-phone ">1.8</td>
                            <td class="center hidden-phone ">A</td>
                        </tr>
                        <tr class="gradeA even">
                            <td class="center "><img src="~/flatAdmin/assets/advanced-datatable/examples/examples_support/details_open.png"></td>
                            <td class="  sorting_1">Gecko</td>
                            <td class=" ">Firefox 3.0</td>
                            <td class="hidden-phone ">Win 2k+ / OSX.3+</td>
                            <td class="center hidden-phone ">1.9</td>
                            <td class="center hidden-phone ">A</td>
                        </tr>
                        <tr class="gradeA odd">
                            <td class="center "><img src="~/flatAdmin/assets/advanced-datatable/examples/examples_support/details_open.png"></td>
                            <td class="  sorting_1">Gecko</td>
                            <td class=" ">Camino 1.0</td>
                            <td class="hidden-phone ">OSX.2+</td>
                            <td class="center hidden-phone ">1.8</td>
                            <td class="center hidden-phone ">A</td>
                        </tr>
                        <tr class="gradeA even">
                            <td class="center "><img src="~/flatAdmin/assets/advanced-datatable/examples/examples_support/details_open.png"></td>
                            <td class="  sorting_1">Gecko</td>
                            <td class=" ">Camino 1.5</td>
                            <td class="hidden-phone ">OSX.3+</td>
                            <td class="center hidden-phone ">1.8</td>
                            <td class="center hidden-phone ">A</td>
                        </tr>
                        <tr class="gradeA odd">
                            <td class="center "><img src="~/flatAdmin/assets/advanced-datatable/examples/examples_support/details_open.png"></td>
                            <td class="  sorting_1">Gecko</td>
                            <td class=" ">Netscape 7.2</td>
                            <td class="hidden-phone ">Win 95+ / Mac OS 8.6-9.2</td>
                            <td class="center hidden-phone ">1.7</td>
                            <td class="center hidden-phone ">A</td>
                        </tr>
                        <tr class="gradeA even">
                            <td class="center "><img src="~/flatAdmin/assets/advanced-datatable/examples/examples_support/details_open.png"></td>
                            <td class="  sorting_1">Gecko</td>
                            <td class=" ">Netscape Browser 8</td>
                            <td class="hidden-phone ">Win 98SE+</td>
                            <td class="center hidden-phone ">1.7</td>
                            <td class="center hidden-phone ">A</td>
                        </tr>
                        <tr class="gradeA odd">
                            <td class="center "><img src="~/flatAdmin/assets/advanced-datatable/examples/examples_support/details_open.png"></td>
                            <td class="  sorting_1">Gecko</td>
                            <td class=" ">Netscape Navigator 9</td>
                            <td class="hidden-phone ">Win 98+ / OSX.2+</td>
                            <td class="center hidden-phone ">1.8</td>
                            <td class="center hidden-phone ">A</td>
                        </tr>
                        <tr class="gradeA even">
                            <td class="center "><img src="~/flatAdmin/assets/advanced-datatable/examples/examples_support/details_open.png"></td>
                            <td class="  sorting_1">Gecko</td>
                            <td class=" ">Mozilla 1.0</td>
                            <td class="hidden-phone ">Win 95+ / OSX.1+</td>
                            <td class="center hidden-phone ">1</td>
                            <td class="center hidden-phone ">A</td>
                        </tr>
                    </tbody>
                </table><div class="dataTables_info" id="hidden-table-info_info">Showing 1 to 10 of 57 entries</div><div class="dataTables_paginate paging_two_button" id="hidden-table-info_paginate"><a class="paginate_disabled_previous" tabindex="0" role="button" id="hidden-table-info_previous" aria-controls="hidden-table-info">Previous</a><a class="paginate_enabled_next" tabindex="0" role="button" id="hidden-table-info_next" aria-controls="hidden-table-info">Next</a></div>
            </div>

        </div>
    </div>
</section>

