@model List<FragmanVM>


@foreach (FragmanVM item in Model)
{
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
        <div class="video-thumb light">

            <figure class="video-image">
                <a href="#"><img src="@item.Poster" alt="Image"></a>
                <div class="circle-rate">
                    <svg class="circle-chart" viewBox="0 0 30 30" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                        <circle class="circle-chart__background" stroke="#2f3439" stroke-width="2" fill="none" cx="15" cy="15" r="14"></circle>
                        <circle class="circle-chart__circle" stroke="#4eb04b" stroke-width="2" stroke-dasharray="50,100" cx="15" cy="15" r="14"></circle>
                    </svg>
                    <b>5.7</b>
                </div>
                <!-- end circle-rate -->
                <div class="hd">1080 <b>HD</b></div>
                <!-- end hd -->
            </figure>
            <div class="video-content">
                <small class="range">190 min,</small>
                <ul class="tags">
                    <li>Romance</li>
                </ul>
                <div class="age">PG13</div>
                <!-- end age -->
                <h3 class="name"><a asp-controller="Movie" asp-action="MovieSinglePage" asp-route-ıd="@item.FragID">@item.Name</a></h3>
            </div>



            <!-- end video-content -->
        </div>
        <!-- end video-thumb -->
    </div>




}