
@{
    ViewData["Title"] = "Home";
}

<header class="slider">
    <div class="main-slider">
        <div class="swiper-wrapper" id="thirdMovie">
            <!--Son üç fragman gelecek-->

        </div>
        <!-- end swiper-wrapper -->
        <div class="swiper-pagination"></div>
        <!-- end swiper-pagination -->
    </div>
    <!-- end main-slider -->
</header>
<!-- end slider -->
<main>
    <section class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h6>ONLINE STREAMING</h6>
                        <h2>Watch Shows Online</h2>
                    </div>
                    <!-- end section-title -->
                </div>
                <!-- end col-12 -->

                <div class="col-lg-3 col-sm-6">
                    <div class="category-thumb">
                        <figure class="category-image"> <img src="~/images/serial-category01.jpg" alt="Image"> </figure>
                        <div class="category-content">
                            <ul class="tags">
                                <li>Romance</li>
                                <li>Drama</li>
                            </ul>
                            <h3 class="name">Thinking You</h3>
                            <div class="play-btn"><a href="/movie/moviesinglepage">+</a></div>
                            <small class="details">SEASON 1 <span>-</span> 2020</small>
                        </div>
                        <!-- end category-content -->
                    </div>
                    <!-- end category-thumb -->
                </div>

                <!-- end col-3 -->

                <div class="col-lg-3 col-sm-6">
                    <div class="category-thumb">
                        <figure class="category-image"> <img src="~/images/serial-category02.jpg" alt="Image"> </figure>
                        <div class="category-content">
                            <ul class="tags">
                                <li>Action</li>
                            </ul>
                            <h3 class="name">Civil War</h3>
                            <div class="play-btn"><a href="/movie/moviesinglepage">+</a></div>
                            <small class="details">SEASON 2 <span>-</span> 2020</small>
                        </div>
                        <!-- end category-content -->
                    </div>
                    <!-- end category-thumb -->
                </div>

                <!-- end col-3 -->

                <div class="col-lg-3 col-sm-6">
                    <div class="category-thumb">
                        <figure class="category-image"> <img src="~/images/serial-category03.jpg" alt="Image"> </figure>
                        <div class="category-content">
                            <ul class="tags">
                                <li>Romance</li>
                            </ul>
                            <h3 class="name">Best Game</h3>
                            <div class="play-btn"><a href="/movie/moviesinglepage">+</a></div>
                            <small class="details">SEASON 5 <span>-</span> 2020</small>
                        </div>
                        <!-- end category-content -->
                    </div>
                    <!-- end category-thumb -->
                </div>

                <!-- end col-3 -->

                <div class="col-lg-3 col-sm-6">
                    <div class="category-thumb">
                        <figure class="category-image"> <img src="~/images/serial-category04.jpg" alt="Image"> </figure>
                        <div class="category-content">
                            <ul class="tags">
                                <li>Romance</li>
                                <li>Action</li>
                            </ul>
                            <h3 class="name">Antoshka</h3>
                            <div class="play-btn"><a href="/movie/moviesinglepage">+</a></div>
                            <small class="details">SEASON 8 <span>-</span> 2020</small>
                        </div>
                        <!-- end category-content -->
                    </div>
                    <!-- end category-thumb -->
                </div>

                <!-- end col-3 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end content-section -->
    <section class="content-section no-top-spacing">
        <div class="container">
            <div class="row align-items-center no-gutters">
                <div class="col-lg-6">
                    <figure class="side-image full-left"> <img src="~/images/side-image01.png" alt="Image"> </figure>
                    <!-- end side-image -->
                </div>
                <!-- end col-6 -->
                <div class="col-lg-6">
                    <div class="side-content right">
                        <h2>Best pick for hassle-free <u>streaming</u> experience.</h2>
                        <ul class="icon-list">
                            <li>
                                <figure> <img src="~/images/icon01.png" alt="Image"> </figure>
                                <div class="content">
                                    <h4>Access while traveling</h4>
                                    <p>
                                        Keep access to your entertainment content while
                                        roaming the world.Pick from thousands.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <figure> <img src="~/images/icon02.png" alt="Image"> </figure>
                                <div class="content">
                                    <h4>Stream with no interruptions</h4>
                                    <p>
                                        Pause for snacks, not buffering. Stream smoothly with
                                        our <u>lightning-fast NordLynx</u> protocol network.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <figure> <img src="~/images/icon03.png" alt="Image"> </figure>
                                <div class="content">
                                    <h4>Stay secure at all times</h4>
                                    <p>
                                        Securely access and enjoy your favorite content,
                                        even on public Wi-Fi. Your connection
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- end side-content -->
                </div>
                <!-- end col-6 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end content-section -->
    <section class="content-section" data-background="#111111">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center light">
                        <h6>FIND ANYWHERE ELSE</h6>
                        <h2>Movies For You</h2>
                    </div>
                    <!-- end section-title -->
                </div>
                <!-- end col-12 -->
                <div class="row" id="singleFragman">

                    @*SingleFragman Sergilenecek*@


                </div>
               
                <!-- end col-2 -->
                <div class="col-12 text-center"> <a href="#" class="custom-button">BROWSE ALL MOVIES</a> </div>
                <!-- end col-12 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end content-section -->
    <section class="content-section" data-background="images/section-pattern01.png">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="testimonial">
                        <h2>
                            Trusted by tech experts
                            and real users
                        </h2>
                        <blockquote>
                            “As VPN services go, it's hard to beat NordVPN. It
                            has a large and diverse collection of servers, an
                            excellent collection of advanced features, strong
                            privacy and security ”
                        </blockquote>
                        <figure> <img src="~/images/avatar01.jpg" alt="Image"> <img src="~/images/brand01.jpg" alt="Image"> </figure>
                        <h6>
                            Max Eddy <br>
                            <small>Software analyst, PCMag</small>
                        </h6>
                    </div>
                    <!-- end testimonial -->
                </div>
                <!-- end col-7 -->
                <div class="col-lg-5">
                    <figure class="side-image"> <img src="~/images/side-image02.png" alt="Image"> </figure>
                    <!-- end side-image -->
                </div>
                <!-- end col-5 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end content-section -->
    <section class="content-section">
        <div class="video-bg">
            <video src="videos/video01.mp4" autoplay muted playsinline loop></video>
        </div>
        <!-- end video-bg -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center light">
                        <h6>START SECURE BROWSING</h6>
                        <h2>Ready to Grab the deal?</h2>
                    </div>
                    <!-- end section-title -->
                </div>
                <!-- end col-12 -->
            </div>
            <!-- end row -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="price-box">
                        <figure class="icon"><img src="~/images/icon04.png" alt="Image"></figure>
                        <div class="months">1-month plan</div>
                        <div class="price"><span>$</span> <b>9.99</b> <small>per month</small> </div>
                        <a href="#">GET THE DEAL</a>
                        <div class="guarantee"><i class="lni lni-protection"></i> 30-days money-back guarantee</div>
                    </div>
                    <!-- end price-box -->
                </div>
                <!-- end col-4 -->
                <div class="col-lg-4">
                    <div class="price-box">
                        <figure class="icon"><img src="~/images/icon05.png" alt="Image"></figure>
                        <div class="months">12-months plan</div>
                        <div class="price"><span>$</span> <b>3.99</b> <small>per month</small> </div>
                        <div class="save">Save 68%</div>
                        <div class="note"><u>$286.80</u>  $89.00 for the first 2 years</div>
                        <a href="#">GET THE DEAL</a>
                        <div class="guarantee"><i class="lni lni-protection"></i> 30-days money-back guarantee</div>
                    </div>
                    <!-- end price-box -->
                </div>
                <!-- end col-4 -->
                <div class="col-lg-4">
                    <div class="price-box">
                        <figure class="icon"><img src="~/images/icon06.png" alt="Image"></figure>
                        <div class="months">6-months plan</div>
                        <div class="price"><span>$</span> <b>6.99</b> <small>per month</small> </div>
                        <a href="#">GET THE DEAL</a>
                        <div class="guarantee"><i class="lni lni-protection"></i> 30-days money-back guarantee</div>
                    </div>
                    <!-- end price-box -->
                </div>
                <!-- end col-4 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end content-section -->
    <section class="content-section no-spacing" data-background="#111111">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="get-started-box">
                        <h2>Start for your first 30 days.</h2>
                        <p>Ready to watch? Enter your email to create or restart your membership.</p>
                        <form>
                            <input type="email" placeholder="Type your e-mail address">
                            <input type="submit" value="GET STARTED">
                        </form>
                    </div>
                    <!-- end get-started-box -->
                </div>
                <!-- end col-4 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end content-section -->

</main>

@section scripts{
    <script>
        $(document).ready(function () {
            GetLastThirdMovie()
            SwiperScript()
            GetFragmanListAll()
        })

        function GetFragmanListAll() {
            $.ajax({
                type: "Get",
                url: "http://localhost:52154/api/Fragman/GetAllFragman",
                headers: { "ApiKey": apikey },
                success: function (response) {
                    $.ajax({
                        type: "Post",
                        url: "Home/GetFragman",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(response),
                        success: function (data) {
                            $("#singleFragman").html(data);
                        }
                    })
                }

            })
        }



    </script>
}