
@{
    ViewData["Title"] = "Home";
}

<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <img src="~/videos/Naps-Logo-Animation-1920x1080.gif" />
</div>

<header class="slider">
    <div class="main-slider">
        <div class="swiper-wrapper" id="thirdMovie">
            <!--Son üç fragman gelecek-->

        </div>
        <!-- end swiper-wrapper -->
        <div class="swiper-pagination"></div>
        <!-- end swiper-pagination -->
    </div>
    <!-- end main-slider -->
</header>
<!-- end slider -->
<main>
    @await Component.InvokeAsync("Fragman")
    <!-- end content-section -->
    <section class="content-section no-top-spacing">
        <div class="container">
            <div class="row align-items-center no-gutters">
                <div class="col-lg-12">
                    <iframe class="ortalamadiv" style="width:65vw; height:45vw;" src="https://www.youtube.com/embed/IXr0zeTh8Jc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end content-section -->
    <section class="content-section" data-background="#111111">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center light">
                        <h6>FIND ANYWHERE ELSE</h6>
                        <h2>Movies For You</h2>
                    </div>
                    <!-- end section-title -->
                </div>
                <!-- end col-12 -->
                <div class="row" id="singleFragman">
                    <!--SingleFragman Sergilenecek*-->
                </div>

                <!-- end col-2 -->
                <div class="col-12 text-center"> <a asp-controller="Movie" asp-action="Movies" class="custom-button">BROWSE ALL EPISODES</a> </div>
                <!-- end col-12 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end content-section -->
    <!--<section class="content-section" data-background="images/section-pattern01.png">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="testimonial">
                        <h2>
                            Trusted by tech experts
                            and real users
                        </h2>
                        <blockquote>
                            “As VPN services go, it's hard to beat NordVPN. It
                            has a large and diverse collection of servers, an
                            excellent collection of advanced features, strong
                            privacy and security ”
                        </blockquote>
                        <figure> <img src="~/images/avatar01.jpg" alt="Image"> <img src="~/images/brand01.jpg" alt="Image"> </figure>
                        <h6>
                            Max Eddy <br>
                            <small>Software analyst, PCMag</small>
                        </h6>
                    </div>-->
                    <!-- end testimonial -->
                <!--</div>-->
                <!-- end col-7 -->
                <!--<div class="col-lg-5">
                    <figure class="side-image"> <img src="~/images/side-image02.png" alt="Image"> </figure>-->
                    <!-- end side-image -->
                <!--</div>-->
                <!-- end col-5 -->
            <!--</div>-->
            <!-- end row -->
        <!--</div>-->
        <!-- end container -->
    <!--</section>-->

    <section class="content-section no-spacing" data-background="#111111">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="get-started-box">
                        <h2>Start for your first 30 days.</h2>
                        <p>Ready to watch? Enter your email to create or restart your membership.</p>
                        <form>
                            <input type="email" placeholder="Type your e-mail address">
                            <input type="submit" value="GET STARTED">
                        </form>
                    </div>
                    <!-- end get-started-box -->
                </div>
                <!-- end col-4 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end content-section -->

</main>

@section scripts{
    <script>
        $(document).ready(function () {
            GetLastThirdMovie()
            SwiperScript()
            GetFragmanListAll()
        })


    </script>
}