
@{
    ViewData["Title"] = "NotFoundError";
    Layout = "~/Views/Home/_404Layout.cshtml";
}


<div>
    <h2>Naps<span> Not Found</span></h2>
    <h3>Aradığın sayfaya ulaşılamıyor</h3>

    <div class="container">
        <div><h1>404</h1></div>
        <div></div>
        <div></div>
    </div>
    <canvas id="canv"></canvas>
</div>

